# WhatsApp Cloud API Credentials
# Get these from https://developers.facebook.com/apps/
WHATSAPP_TOKEN=EAAVu5Y7vmvUBSdQJE67zY18uejXWvZCKJuvagpZCngcA8MwIdAA7wQnIpfpvFN7D947hQK3YrRLtqZCz97ZCdQ2PL790SotZCf9Fo7JEwv5kaHtoeiwqiXtf6uhhsIZBwWpCwVy0VGxxks1zfsIlwHUjd1jZAZB7tWvUy3sQGXbq7A8v7meItMXe1rrXZBmAkouFtUlE6AXdXZAmTBPgtQ5luVn3vIXF63t3UJZAVzDgtUcc56sAzg2BhLf1vZCgQAhyzb5eHydcZCO8fcUAI5fJiG3NwYgZDZD
WHATSAPP_PHONE_NUMBER_ID=282181894987342
WHATSAPP_SECRET=1529307108186869|yzlnY0Ee0DsXKs2RmpoXvr6-2FM

# Webhook Verification
# Choose any secure random string for webhook setup
VERIFY_TOKEN=sllo_emergency_token_polyusllo_058013
INTERNAL_SECRET=sllo_emergency_internal_polyusllo_058031

# Graph API Version (optional, defaults to v21.0)
GRAPH_API_VERSION=v21.0
